@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.form-input {
  @apply border rounded px-3 py-2.5 focus-visible:outline-emerald-700;
}

.form-input::placeholder {
  @apply text-sm;
}

.form-select {
  @apply border rounded px-3 py-2.5 focus-visible:outline-emerald-700;
}

.form-select option {
  @apply text-sm;
}

.op-image-wrapper {
  background-repeat: no-repeat;
  background-size: cover;

  img {
    opacity: 0;
  }

  &:not(.op-image-loaded) {
    filter: blur(7px);
  }

  &.op-image-loaded {
    img {
      opacity: 1;
    }
  }
}
